# Ignore all audio files
*.mp3
*.wav
*.flac
*.ogg
*.aac
*.m4a
*.wma

# Ignore all video files
*.mp4
*.avi
*.mov
*.wmv
*.mkv
*.flv
*.webm
*.m4v
*.3gp
*.3g2
*.mts
*.ts
*.vob
*.mxf
*.ogg
*.gif



#Ignore Json files

*.json
.tmp.driveupload
.tmp.drivedownload
*.env


# Optional: Ignore audio and video files in nested folders
**/*.mp3
**/*.wav
**/*.flac
**/*.ogg
**/*.aac
**/*.m4a
**/*.wma
**/*.mp4
**/*.avi
**/*.mov
**/*.wmv
**/*.mkv
**/*.flv
**/*.webm
**/*.m4v
**/*.3gp
**/*.3g2
**/*.mts
**/*.ts
**/*.vob
**/*.mxf
**/*.ogg
**/*.json
**/*.gif


**/*__pycache__
**/*.tmp.driveupload
**/*.tmp.drivedownload

**/*env

env
**/temp_storage_web

